body {
    font-family: "Roboto Light", sans-serif;
}

.card {
    margin: 30px;
    max-width: 600px;
    height: 300px;
    background-color: black;
    color: white;
    display: flex;
    flex-direction: row;
}

.startBanner {
    width: 100%;
    height: 100%;
}

.column {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 8%;
    text-align: left;
}

.column2 {
    padding: 0;
    text-align: center;
}

h1 {
    font-size: 70px;
    margin: 0;
}

.italic {
    font-style: italic;
    font-weight: lighter;
}

.icon {
    width: 150px;
}

.input-wrapper {
    margin: 20px 0 0 30px;
    display: flex;
    flex-direction: row;
}

input {
    padding: 10px;
}

button {
    padding: 10px;
    cursor: pointer;
}

.center {
    margin: auto;
}